<h2>Pretraživanje</h2>
<div>
    <form id="searchForm" action="#" th:action="@{/update}" th:object="${searchCriteria}" method="post">
        <table>
            <tr>
                <td>
                    <label for="name">Naziv</label>
                </td>
                <td>
                    <input type="text" th:field="*{name}" id="name" placeholder="Naziv">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Početak od </label>
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dateTimeStartFromPicker'>
                                        <input type='text' th:field="*{startFrom}" autocomplete="off"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <label>do</label>
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dateTimeStartToPicker'>
                                        <input type='text' th:field="*{startTo}" autocomplete="off"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Završetak od </label>
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dateTimeEndFromPicker'>
                                        <input type='text' th:field="*{endFrom}" autocomplete="off"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <label>do</label>
                </td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='dateTimeEndToPicker'>
                                        <input type='text' th:field="*{endTo}" autocomplete="off"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="free">Slobodan ulaz</label>
                </td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input id="free" type="checkbox" class="custom-control-input" th:field="*{free}" unchecked>
                        <label class="custom-control-label" for="free"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Regije</label>
                </td>
                <td>
                    <select th:field="*{regions}" class="selectpicker" multiple id="regionPicker">
                        <option value="" disabled selected>Odaberite regije</option>
                        <option th:each="i : ${regions}" th:value="${i.id}" th:text="${i.name}">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Županije</label>
                </td>
                <td>
                    <select th:field="*{counties}" class="selectpicker" multiple id="countyPicker">
                        <option value="" disabled selected>Odaberite županije</option>
                        <option class="countyoption" th:each="i : ${counties}" th:value="${i.id}" th:text="${i.name}">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Gradovi</label>
                </td>
                <td>
                    <select th:field="*{cities}" class="selectpicker" multiple  id="cityPicker">
                        <option value="" disabled selected>Odaberite grad(ove)</option>
                        <option class="cityoption" th:each="i : ${cities}" th:value="${i.id}" th:text="${i.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Pretraži">
                </td>
            </tr>
        </table>

    </form>
</div>

<script type="text/javascript">

    //Date time pickers
    $(function () {
        $('.selectpicker').selectpicker();

        $('#regionPicker').on('hide.bs.select', function(e){
            $.post( "/search/selector", $( "#searchForm" ).serialize(), function( data ) {
              $('.cityoption').remove();
              $.each(data, function(index, value) {
                $('#cityPicker').append('<option class="cityoption" value="' + value.id + '">' + value.label + '</option>');
              });
              $('.selectpicker').selectpicker('refresh');
            } );
        });

        $('#countyPicker').on('hide.bs.select', function(e){
            alert('promjena zupanije!')
        });

        $('#dateTimeStartFromPicker').datetimepicker({
            format: 'dd.mm.yyyy hh:ii'
        });
        $('#dateTimeStartToPicker').datetimepicker({
            format: 'dd.mm.yyyy hh:ii'
        });
        $('#dateTimeEndFromPicker').datetimepicker({
            format: 'dd.mm.yyyy hh:ii'
        });
        $('#dateTimeEndToPicker').datetimepicker({
            format: 'dd.mm.yyyy hh:ii'
        });
    });
</script>
